<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Assignment</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" name="name" [(ngModel)]="logindata.name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="passw" class="form-control input-underline input-lg" [(ngModel)]="logindata.password" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div style="color:red;">{{message}}</div>

                </div>
                <a class="btn rounded-btn"   (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Sign Up' | translate }}</a>
            </form>
        </div>
    </div>
</div>
