
<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
      <table class="table-bordered data-table table-striped table-hovered" style="width:100%;border-bottom: 2px solid #dee2e6;" id="example"  datatable>
          <thead>
              <tr>
                  <th>S.no.</th>
                  <th>Name</th>
                  <th>Contact No.</th>
                  <th>Email</th>
              </tr>
          </thead>
          <tbody>
<tr *ngFor="let list of tableList"> 
    <td>{{list.id}}</td>
    <td>{{list.name}}</td>
    <td>{{list.mobile}}</td>
    <td>{{list.email}}</td>
</tr>

          </tbody>
      </table>      
    </div>
</div>
</div>