// shared css for the login and signup page
@import "../login/login.component.scss";
.modal-content{
    width: 100%;
    height: 100%;
    margin: 0px;
 animation-name: modal;
 animation-duration: 1s;
 position: relative;
 }
 .modal-header{
     height: 55px;
 }
 @keyframes modal{
     from{top:-300px;
         opacity:0;
     }
     to{
         top:0px;
         opacity:1;
     }
 }
 