<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Assignment</h1>
            <form role="form">
                <div class="form-content">
                    <!-- <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id=""  placeholder="{{ 'Full Name' | translate }}">
                    </div> -->

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" name="name"
                            [(ngModel)]="signData.name" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="pass"
                            [(ngModel)]="signData.password" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" name="address1"
                            [(ngModel)]="signData.address.addressline1"
                            placeholder="{{ 'Address line 1' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" name="address2"
                            [(ngModel)]="signData.address.addressline2"
                            placeholder="{{ 'Address line 2' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" name="address3"
                            [(ngModel)]="signData.address.addressline3"
                            placeholder="{{ 'Address line 3' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" name="address4"
                            [(ngModel)]="signData.address.addressline4"
                            placeholder="{{ 'Address line 4' | translate }}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="showPop()">Upload Image</button>

                    </div>
                    <div style="color:red;">{{message}}</div>
                </div>
                <a class="btn rounded-btn" (click)="register()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Back' | translate }}</a>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePop();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type="file" (change)="onFileChanged($event)" accept="image/x-png,image/gif,image/jpeg">
                <button class="btn btn-primary" [disabled]="!this.file" (click)="imgpic()">Upload</button>



            </div>

        </div>
    </div>
</div>